@media(max-width:1028px){
    .main{
        width: 60vw;
        height: 50vw;
    }
    .display{
        width:50vw;
        max-height: 12vw;
    }
    .inputs{
        width:50vw;
        height: 25vw;
    }
    textarea{
        font-size:3.5vw;
    }
    .text1{
        padding-top: 10px;
        font-size: 2vw;
    }
    button{
        max-height:8vw;
        max-width: 12vw;
    }
}
@media(max-width:600px){
    .main{
        width:85vw;
        height:85vw;
    }
    .display{
        width:78vw;
        margin-top: 15px;
        max-height: 20vw;
    }
    .inputs{
        width:70vw;
        height: 45vw;
    }
    textarea{
        font-size: 6vw;
    }
    .text1{
        padding:5px;
        font-size: 4vw;
    }
    button{
        max-height: 20vw;
        max-width: 30vw;
        font-size: 4vw;
    }
    .Ac{
        max-width: 40vw;
    }
}