body{
    display: flex;
    align-items: center;
    justify-content: center;
    width:100vw;
    height:100vh;
    background-color: 	rgb(255, 165, 0);
}
.main{
    height: 40vw;
    width: 45vw;
    border-color: black;
    border-radius: 10px;
    border-style: solid;
    border-width: 0.9px;
    margin-top: 1vw;
    display: grid;
    justify-items: center;
    justify-content: center;
    background-color:rgb(252, 252, 181);
    box-shadow: 0px 34px 18px 0px rgba(0,0,0,0.38);
    -webkit-box-shadow: 0px 34px 18px 0px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 34px 18px 0px rgba(0,0,0,0.38);
    
}
.inputs{
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-row-gap:1vw;
    width: 38vw;
    height: 20vw;
    margin-bottom: 4vw;
    margin-right: 3vw;
}
.row{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 1vw;
}
.display{
    display: grid;
    grid-template-rows: 44% 55%;
    max-height: 9vw;
    width: 40vw;
    margin :1vw;
    margin-top: 2vw;
    border: rgb(14, 13, 13) solid 0.2px;
    background-color: white;
    font-family: 'Raleway', sans-serif;
}
textarea{
    text-align: end;
    padding-right: 1vw;
    resize: none;
    border: none;
    font-size:2vw;
    color: black;
    background-color:   rgb(255, 255, 255);
}
.text1{
    font-size: 1.5vw;
}
button{
    max-height:4vw;
    max-width: 11vw;
    font-size:2vw;
    opacity: 100%;
    transition-duration: 1s;
    border: none;
    border-radius: 10px;
    background-color: gray;
}
button:hover{
    background-color: #0652bd;    
}
button:focus{
    animation-name: deselect;
    -webkit-animation-name: deselect;
    -moz-animation-name: deselect;
    animation-duration: 2.5s;
    -webkit-animation-duration: 2.5s;
    -moz-animation-duration: 2.5s;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
}
.Ac{
    max-width: 30vw;
    grid-column: 1/3;
}
@keyframes deselect {
    0%{
        background-color:#0652bd ;
    }
    100%{
        background-color: grey;
    }
}